h1 {
    color:rgb(255, 255, 255);
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #ffffff;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}
p {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
    color: #eab01c;
    text-align: center;
    
}
body {
    background-color: #01213d;
    margin: 20px;
    padding: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ol{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
    color: #eab01c;
}

.section {
    background-color: #01213d;
    padding: 10px;
    border: 2px solid #eab01c;
.section {
    width: 60%;
    margin: 20px auto;
    box-sizing: border-box;
    text-align: center;
}

#highlight {
    background-color: #eab01c;
    color: #01213d;
    padding: 2px 4px;
    border-radius: 3px;
}