body {
  background-color: white;
}

#container {
  width: 350px;
  height: 350px;
  background-color: yellow;
  padding: 20px;
}

#face {
  width: 100%;
  height: 100%;
}

.eye-container {
  margin-top: 30px;
  text-align: center;
}

.eye {
  width: 80px;
  height: 80px;
  background-color: white;
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

.pupil {
  width: 35px;
  height: 35px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 10px;
}

#mouth {
  width: 260px;
  height: 140px;
  background-color: black;
  margin: 40px auto 0 auto;
  padding-top: 15px;
}

.teeth {
  text-align: center;
}

.tooth {
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
  margin: 0 3px;
}

.tongue {
  width: 80px;
  height: 60px;
  background-color: red;
  margin: 20px auto 0 auto;
}